<div class="container">
  <div class="row top-30">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/blog">Go to Blog</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/cms">New Post</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="author-container">
        <h1>Authors</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th># of Posts</th>
              <th>See Author's Posts</th>
              <th>New Post</th>
              <th>Delete Author</th>
            </tr>
          </thead>
          <tbody>
            <tr id="form-row">
              <form id="author-form">
                <td colspan="4">
                  <input placeholder="Enter a name" id="author-name" type="text" />
                </td>
                <td>
                  <button type="submit" class="btn btn-success">Create Author</button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </d>
  <!-- Custom Script -->
  <script src="js/author.js" type="text/javascript"></script>