<div class="container">
  <div class="row top-30">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/blog">Go to Blog</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-default" href="/authors">Manage Authors</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form id="cms">
        <div class="form-group">
          <label for="title">Title:</label>
          <input placeholder="Post Title" type="text" class="form-control" id="title">
          <br />
          <label for="body">Body:</label>
          <textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
          <div class="form-group">
            <label for="category">Select Author:</label>
            <select class="form-control" id="author">
            </select>
          </div>
          <br />
          <button type="submit" class="btn btn-success submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Custom Script -->
<script src="js/cms.js" type="text/javascript"></script>