button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}
